<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.papfree.bloodlife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name="com.papfree.bloodlife.BloodLifeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.MainActivity"
            android:theme="@style/AppTheme.Dark"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.papfree.bloodlife.UI.MainActivity" />

        </activity>

        <activity android:name="com.papfree.bloodlife.UI.Login.LoginActivity" android:theme="@style/AppTheme.Dark">


            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".UI.Login.SignupActivity"
            android:theme="@style/AppTheme.Dark"
            android:label="@string/title_activity_create_account"
            android:parentActivityName="com.papfree.bloodlife.UI.Login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.papfree.bloodlife.UI.Login.LoginActivity" />
        </activity>
        <activity android:name=".UI.Login.OrgSignupActivity" android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.papfree.bloodlife.UI.Login.LoginActivity" />
        </activity>
        <activity android:name=".UI.Login.ChangePasswordActivity" android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.papfree.bloodlife.UI.Login.LoginActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="96da114f28d178fe27a3d7fd296f0440f3fb8270"
            />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
