<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.papfree.bloodlife">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.papfree.bloodlife.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.papfree.bloodlife.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.papfree.bloodlife.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="com.papfree.bloodlife.OrgSignupActivity" android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>
